.main-section{
    background-color: black ;
    color: white;
    text-align: center;
    height: 200px;
    font-size: 50px;
    font-family: monospace;
    

    
}

.container{
    margin-left: 38px;
    margin-top: 0px;
    font-size: 40px;

}

